# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env

# Base de datos y Estadísticas (Opcional)
# Descomenta la siguiente línea si NO quieres subir tus visitas reales a GitHub
# stats.json

# Sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.swp
*.swo
