# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env

# Base de datos y Estadísticas (Datos de producción, NO versionar)
stats.csv
stats.lock
stats.json

# Contenido dinámico del Blog (Posts y Comentarios)
content/
comments_data/

# Archivos subidos por los usuarios
static/uploads/

# Sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
.dockerignore
docker-compose.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Entorno y Secretos
.totp_secret
